{
  admin off
}

{$PUBLIC_HOST} {
  encode zstd gzip

  handle /health {
    reverse_proxy backend:8000
  }

  handle /readiness {
    reverse_proxy backend:8000
  }

  handle {
    reverse_proxy frontend:3000
  }
}
